streamlit
validators

langchain
langchain-core
langchain-community
langchain-groq
langchain-classic

unstructured
unstructured[all-docs]

youtube-transcript-api

python-dotenv
requests
beautifulsoup4
lxml
